/* *********** Footer *********** */
#footer{
    width: 100%;
    background: #3c3c3c;
    height: 475px;
  }
  .min-footer{
    width: 1200px;
    height: 475px;
    border:1px solid red;
    margin: 0 auto;
    padding-top: 30px
  }
  .min-footer ul{
    float: left;
    color: #fff;
    list-style: none;
  }
  .min-footer ul a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  .min-footer li{
    line-height: 30px;
    margin-right: 80px;
    margin-left: 10px;
  }
  .min-footer ul li a:hover{
    text-decoration:underline 
  }
  .left-3{
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    width:200px;
    height:150px;
    float: left;
  }
  .left-3 :nth-child(2){
    font-size: 26px;
    color: rgb(44, 182, 195);
    font-weight: bold;
  }
  .l-1{
    float: left;
    padding-right: 60px;
  }
  .l-2{
    float: left;
  }