body{margin: 0px;padding: 0px;}
.footer{
  width: 100%;
  height: 375px;
  background: #3c3c3c;
}
.min_footer{
  width: 1200px;
  height: 370px;
  padding: 30px 0 0 0;
  margin: 0 auto;
  /* border: 1px solid red */
}
.lists{padding-left: 10px;}
.list{
  width: 170px;
  height: 151px;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.left{float: left;}  
.first{
  font-size: 20px;
  font-weight: bold;
  margin-left: -5px;
}
.list li{
  line-height: 35px;
  color:#fff;
}
.list a{
  color:#fff;
  text-decoration: none;
}
.list4{
  width: 230px;
  height: 151px;
}
.lists .list .phone{
  font-size: 26px;
  color: #2cb6c3;
  font-weight: bold;
}
.first1{padding-left: 7px;}
.img1{padding-left:135px; }
.img2{float: right;}
.lists .left p{
  color:#fff;
  position: relative;
  top:-10px;
  left:25px;
}
.divider{
  height: 20px;
  border-bottom: 1px solid #999;
  margin: 0 0 30px 0;
  clear: both;
}
.hzdws{
  width:1200px;
  height: 45px;
  padding-left: 40px;
}
.hzdw{
  float: left;
  padding-left: 15px;
}
.icp{
  text-align: center;
  color: #fff;
  padding:30px 0px 20px 0px;
  font-size: 12px;
}
.hzdws .color{color: #fff;}