*{padding: 0px;margin: 0px;}
#header{
  width: 100%;
  height: 60px;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #c4c4c4
}
.mheader{
  width:1200px;
  height: 60px;
  margin: 0 auto;
  margin-top: -4px;
}
.logo{
  float: left;
  margin: 8px 50px 0 0;
  width: 113px;
  height: 43px;
}
.list{
  width: 526px;
  height: 60px;
  float: left;
  padding-top: 20px;
}
.nav{
  list-style: none; 
}
.nav li{
  float: left;
  margin: 0 26px;
}
.nav li a{
  text-decoration: none;
  color:#000;
}
.nav li a:hover{
  padding-bottom: 5px;
  border-bottom: 2px solid #1fb6c4;
  color:#1fb6c4;
}
.big{
  position: relative;
  top:-3px;
  left:58px;
  border: #999 solid 1px;
  height: 30px;
  width: 198px;
  margin-top: 17px;
}
.inputs{
  position: relative;
  top:9px;
  left:53px;
}
.login{
  float: right;
  text-align: right;
  color: #1fb6c4;
  line-height: 60px;
  position: relative;
  top:-50px;
}
.login a{
  color: #1fb6c4;
  text-decoration: none;
}
.login a:hover{
  padding-bottom: 2px;
  border-bottom: 2px solid #1fb6c4;
}
 