*{margin: 0;padding: 0;}
.f1,.f4{
  background:#d3e9f6;
}
.f2{
  background:#fff;
}
.f1,.f2{
  height:686px;
  width:1903px;
  padding-bottom: 30px
}
.w1020,.mddjx{
  width: 1020px;
  height: 686px;
  margin: 0 auto;
  margin-top: 0px;
}
.xzdmr{
  width: 1040px;
  margin: 0 auto;
  height: 556px;
}
.blue{
  color: rgb(44, 182, 195);
}
.title{width:1020px;}
.ti1{
  line-height: 96px;
  height: 96px;
  width: 390px;
  text-transform: uppercase;
  float: left;
}
.ti2{
  font-size: 18px;
  height: 26px;
  line-height: 26px;
  padding-top: 36px;   
}
.ti_2{
  font-size: 14px;
  float: right
}
.ti2 a{
  margin:0 35px;
  color:#333;
}
.ti2>a:hover{
  color: rgb(25, 158, 170);
  border-bottom: 2px solid rgb(25, 158, 170);
  padding-bottom: 3px;
  text-decoration: none
}
.ti1,.ti2{
  margin-left: 11px;
}
strong{
  font-size: 30px;
}
.img .imgs li{margin-left: 10px;}
.imgs{list-style: none}
.imgs li{display: inline-block}
.imgs:first-child{
  float: left;
}
.imgs a{
  text-decoration: none;
  color:#000;
}
.imgs a strong{
  color: #f24a4a;
  font-size: 26px;
}

.imgs a span{
  margin-right: 10px;
}
.imgs a .price{float: right}
.imgs a .bottom{
  background: #fff;
  height: 79px;
}
.w760{
  width: 760px;
  float: left;
}
.w760 li{margin-left: 11px}
.w760 li:nth-child(3){margin-top: 15px}
.dny .w760 .bottom{background:#eee}
.dny .w260 .bottom{
  background:#eee;
}
.w260{
  width: 260px;
  position: relative;
  top:-571px;
  left:750px;
}
.f1 .w1020 .img li{
  margin-bottom: 20px;
} 
.f1 .w1020 .img li a:hover{
  color: rgb(25, 158, 170);
  text-decoration: none;
}
.f1 .w1020 .img li:hover{
  box-shadow: 2px 4px 6px #999; 
}
.f2 .mddjx .img li a:hover{
  color: rgb(25, 158, 170);
  text-decoration: none;
}
.f2 .mddjx .img li:hover{
  box-shadow: 2px 4px 6px #999;
}
.pp{
  overflow: hidden;
}
.header{
  width:100%;
  height: 61px;
}
.footer{
  width: 100%;
  height: 372px;
  padding: 0px;
  margin: 0px;
}
/* ****** F4 行走的MR.U ******* */
.f4{padding-bottom: 30px}
.f4_list{
  height: 450px;
  width: 1020px;
  margin: 0 auto;
  float: left;
}
.f4_list .row .col-7{
  width:600px;
}
.right{float:right}
.col-7>.row{
  width:600px;
  margin:0px;
  margin-top:8px;
}
.pl-4{background: #fff}

/* ********* F3 定制臻选 ********* */
.f3{
  width: 1903px;
  height: 640px;
  background: url(../img/zhxbg.jpg);
}
.f3_min{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.dzzx{
  text-align: center;
  padding: 20px 0;
}
.xlc{
  text-align: center
}
.ckgd{
  display: inline;
  position: relative;
  top:-25px;
  left:1000px;
}